<h2>1 to 2 and center (one cell hack)</h2>

<div class="Grid Grid--1-2 Grid--center">
  <div class="Grid-cell"></div>
</div>


<h2>1 to 2with1 (1 cell hack)</h2>

<div class="Grid Grid--1-2v1 Grid--center">
  <div class="Grid-cell"></div>
</div>


<h1>Complex</h1>

<h3>1 to 1with1 to 2with1</h3>
<div class="Grid Grid--1-2-2v1">
  <div class="Grid-cell">
    <h3>1 to 2 to 4</h3>
    <div class="Grid Grid--1-2-4">
      <div class="Grid-cell">
        <img class="u-sizeFill" src="http://lorempixel.com/400/400" alt="">
      </div>
      <div class="Grid-cell">
        <img class="u-sizeFill" src="http://lorempixel.com/400/400" alt="">
      </div>
      <div class="Grid-cell">
         <img class="u-sizeFill" src="http://lorempixel.com/400/400" alt="">
      </div>
      <div class="Grid-cell">
         <img class="u-sizeFill" src="http://lorempixel.com/400/400" alt="">
      </div>
    </div>
  </div>
  <div class="Grid-cell">
    <h3>2</h3>
    <div class="Grid Grid--2">
      <div class="Grid-cell">
        <img class="u-sizeFill" src="http://lorempixel.com/400/400" alt="">
      </div>
      <div class="Grid-cell">
        <img class="u-sizeFill" src="http://lorempixel.com/400/400" alt="">
      </div>
    </div>
  </div>
</div>
</body>
</html>
