/* ==========================================================================
   SUIT grid layouts
   ========================================================================== */

/**
 * Modifiers for the core 'suit-grid' component. These traits are pre-build
 * grids that provide different layouts at different breakpoints (supports 2
 * breakpoints).
 *
 * Example uses:
 *
 * <div class="Grid v2-Grid--2col v3-Grid--4col">
 *     <div class="Grid-cell Grid-cell--1"></div>
 *     <div class="Grid-cell Grid-cell--2"></div>
 *     <div class="Grid-cell Grid-cell--3"></div>
 *     <div class="Grid-cell Grid-cell--4"></div>
 * </div>
 *
 * <div class="Grid v2-Grid--fitToFill">
 *     <div class="Grid-cell Grid-cell--1"></div>
 *     <div class="Grid-cell Grid-cell--2"></div>
 * </div>
 */

/* Grid version 1 (default)
   ========================================================================== */

.v1-Grid--2col > .Grid-cell {
    width: 50%;
}

.v1-Grid--3col > .Grid-cell {
    width: 33.333%;
}

/* Grid version 2 (at first breakpoint)
   ========================================================================== */

@media (min-width: 25em) {
    .v2-Grid--1col > .Grid-cell,
    .v2-Grid--3on1 > .Grid-cell--4 {
        width: 100%;
    }

    .v2-Grid--1to3 > .Grid-cell--2,
    .v2-Grid--3to1 > .Grid-cell--1 {
        width: 75%;
    }

    .v2-Grid--1to2 > .Grid-cell--2,
    .v2-Grid--2to1 > .Grid-cell--1 {
        width: 66.666%;
    }

    .v2-Grid--2col > .Grid-cell {
        width: 50%;
    }

    .v2-Grid--1to2 > .Grid-cell--1,
    .v2-Grid--2to1 > .Grid-cell--2,
    .v2-Grid--3col > .Grid-cell,
    .v2-Grid--3on1 > .Grid-cell--1,
    .v2-Grid--3on1 > .Grid-cell--2,
    .v2-Grid--3on1 > .Grid-cell--3 {
        width: 33.333%;
    }

    .v2-Grid--1to3 > .Grid-cell--1,
    .v2-Grid--3to1 > .Grid-cell--2,
    .v2-Grid--4col > .Grid-cell {
        width: 25%;
    }

    /**
     * Fit and Fill
     */

    .v2-Grid--fitToFill > .Grid-cell--1 {
        display: block;
        float: left;
        width: auto;
    }

    .v2-Grid--fitToFill > .Grid-cell--2 {
        display: block;
        overflow: hidden;
        width: auto;
    }

    /* Contain floats */

    .v2-Grid--fitToFill:after {
        display: table;
        content: " ";
        clear: both;
    }
}

/* Grid version 3 (at second breakpoint)
   ========================================================================== */

@media (min-width: 50em) {
    .v3-Grid--1col > .Grid-cell {
        width: 100%;
    }

    .v3-Grid--1to2 > .Grid-cell--2,
    .v3-Grid--2to1 > .Grid-cell--1 {
        width: 66.666%;
    }

    .v3-Grid--2to3 > .Grid-cell--2,
    .v3-Grid--3to2 > .Grid-cell--1 {
        width: 60%;
    }

    .v3-Grid--2col > .Grid-cell {
        width: 50%;
    }

    .v3-Grid--2to3 > .Grid-cell--1,
    .v3-Grid--3to2 > .Grid-cell--2 {
        width: 40%;
    }

    .v3-Grid--1to2 > .Grid-cell--1,
    .v3-Grid--2to1 > .Grid-cell--2,
    .v3-Grid--3col > .Grid-cell {
        width: 33.333%;
    }

    .v3-Grid--4col > .Grid-cell {
        width: 25%;
    }
}
